// File: src/components/ui/Avatar/Avatar.module.scss

@use '@/styles/abstracts' as *;

.avatar {
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  background: rgba($color-frozen-water, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  
  &--sm {
    width: 32px;
    height: 32px;
  }
  
  &--md {
    width: 48px;
    height: 48px;
  }
  
  &--lg {
    width: 64px;
    height: 64px;
  }
  
  &--xl {
    width: 96px;
    height: 96px;
  }
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__placeholder {
  font-weight: 600;
  color: $color-text-primary;
  
  .avatar--sm & {
    font-size: $font-size-sm;
  }
  
  .avatar--md & {
    font-size: $font-size-lg;
  }
  
  .avatar--lg & {
    font-size: $font-size-xl;
  }
  
  .avatar--xl & {
    font-size: $font-size-3xl;
  }
}
