// File: src/app/globals.scss

@use '@/styles/abstracts/variables' as *;
@use '@/styles/base/reset';

:root {
  --color-onyx: #{$color-onyx};
  --color-frozen-water: #{$color-frozen-water};
  --color-night-bordeaux: #{$color-night-bordeaux};
  --color-rosy-granite: #{$color-rosy-granite};
  --color-medium-jungle: #{$color-medium-jungle};
}

body {
  background: $color-bg-primary;
  color: $color-text-primary;
  overflow-x: hidden;
}